.App > header {
  height: 64;
  padding-inline: 50;
  line-height: 64px;
  background-color: #7dbcea;
}

.App > header, .App > footer {
  color: #fff;
  text-align: center;
}

.App > footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  line-height: 44px;
  background-color: #57aeeb;
}

.App > section {
  padding: 15px;
}