.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App > section {
  padding: 15px;
  flex: 1;
  overflow-y: auto;
}

.App > header {
  height: 64px;
  line-height: 64px;
  background-color: #7dbcea;
}

.App > header, .App > footer {
  flex: 0;
  color: #fff;
  text-align: center;
}

.App > footer {
  height: 64px;
  line-height: 44px;
  background-color: #57aeeb;
}